<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Signup</title>
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-12 mt-4">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
          <!-- 6 ki spance le rhi hai -->
          <!-- card -->
          <div
            class="block p-6 border-t-[10px] border-blue-700 bg-white rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-700"
          >
            <!-- message here -->

            <div data-th-replace="message::messagebox"></div>

            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Signup Here
            </h5>
            <p class="font-normal text-gray-400 dark:text-gray-400">
              Start managing contacts on cloud ...
            </p>

            <!-- this is  form -->
            <form
              data-th-action="@{'/do-register'}"
              method="post"
              data-th-object="${userForm}"
              class="mt-5"
              novalidate
            >
              <!-- name  -->

              <div class="mb-3">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Name</label
                >
                <input
                  type="text"
                  id="name"
                  data-th-field="*{name}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter here"
                  required
                />

                <p
                  data-th-if="${#fields.hasErrors('name')}"
                  data-th-errors="*{name}"
                  class="text-red-600 px-1 py-2"
                >
                  Name is required
                </p>
              </div>
              <!-- email field -->
              <div class="mb-3">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Email</label
                >
                <input
                  data-th-field="*{email}"
                  type="email"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="name@flowbite.com"
                  required
                />
                <p
                  data-th-if="${#fields.hasErrors('email')}"
                  data-th-errors="*{email}"
                  class="text-red-600 px-1 py-2"
                ></p>
              </div>
              <!-- password field -->
              <div class="mb-3">
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >New Password</label
                >
                <input
                  data-th-field="*{password}"
                  type="password"
                  id="password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required
                />
                <p
                  data-th-if="${#fields.hasErrors('password')}"
                  data-th-errors="*{password}"
                  class="text-red-600 px-1 py-2"
                ></p>
              </div>
              <!-- Phone field -->
              <div class="mb-3">
                <label
                  for="phone"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Contact Number</label
                >
                <input
                  data-th-field="*{phoneNumber}"
                  type="text"
                  id="phone"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required
                />

                <p
                  data-th-if="${#fields.hasErrors('phoneNumber')}"
                  data-th-errors="*{phoneNumber}"
                  class="text-red-600 px-1 py-2"
                ></p>
              </div>

              <!-- about textarea -->
              <div class="mb-3">
                <label
                  for="about"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Write something about yourself</label
                >
                <textarea
                  data-th-field="*{about}"
                  id="about"
                  rows="6"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Write here..."
                ></textarea>

                <p
                  data-th-if="${#fields.hasErrors('about')}"
                  data-th-errors="*{about}"
                  class="text-red-600 px-1 py-2"
                ></p>
              </div>
              <!-- button -->

              <div class="mb-3 flex justify-center space-x-3">
                <button
                  type="submit"
                  class="px-3 py-2 rounded bg-gray-800 hover:bg-gray text-white dark:bg-blue-800 dark:hover:bg-blue-800"
                >
                  Singup
                </button>
                <button
                  type="reset"
                  class="px-3 py-2 rounded bg-orange-800 hover:bg-orange text-white dark:bg-orange-800 dark:hover:bg-orange-800"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      console.log("Signup page");
    </script>
  </body>
</html>
