<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
  <head>
  
    <title>
      Services
    </title>
  </head>
  <body>
    <section id="content">
      <h1>Welcome to services page</h1>
      <h2>Services offered by SCM</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolore assumenda rerum harum mollitia incidunt nesciunt dignissimos esse dicta reprehenderit quam, quisquam aspernatur enim consequatur accusamus, minima alias odit ducimus.<10></10>
    </section>

  </body>
</html>
